# better auth
# pnpx auth secret
BETTER_AUTH_SECRET="0123456789abcdef0123456789abcdef"
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3001
# cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=
# resend
RESEND_API_KEY=
EMAIL_FROM=
